<div class="jumbotron">
	<center>
		<h1>Blog about it!</h1>
		<img src= "http://www.hasbarafellowships.org/uploads/cgblog/id600/iStock_000008508482XSmall.jpg" ><br>

		<%= link_to "Start Here", blog_posts_path, class: "btn btn-default" %>
	</center>

</div>